root = true

[*.cs]
# Фигурные скобки на той же строке
csharp_new_line_before_open_brace = none

# Ограничение пустых строк
csharp_style_allow_multiple_blank_lines_experimental = false
dotnet_style_allow_multiple_blank_lines = false

# Устанавливаем жесткий лимит в 1 пустую строку подряд
stylecop_max_blank_lines = 1

# 3. Убираем пустые строки ПЕРЕД закрывающей скобкой
csharp_space_before_close_brace = false
# Запрещаем перенос строки перед закрывающей скобкой, если блок пустой или завершается
csharp_new_line_before_close_brace = false